body {
background-image: url("images/pexels-dominika-roseclay-1982485.jpg"); 
color:#000080;
font-family: Lucida Handwriting, Brush Script, Comic Sans MS;
text-align:center;
font-size: 1em; 
position:absolute;
line-height: 1;
margin: 0 auto; 

    
}


  
main {text-align:center;
    font-family: Verdana, Arial, sans-serif;
	font-size: 2.5em;
	margin-top: 0.2em;
	padding: 0.2em;
	border-radius: 0.5em 0 2em 0;
	background-color: 
	opacity: 0.85;}


header {background-color:#D29DEF; 
text-align: center;
height: 150px;
display:block;
padding-top:25px;
padding-bottom:30px;
line-height:inherit; 

    
}

header img {
    
}
#mobile {display:none;}
#desktop { display: inline;}


h1  {
font-size: 5em; 
font-style:bold;
margin: 3px;
text-align:center;
text-decoration:inherit;  
font-family: Curlz MT, Copperplate,fantasy;
padding-top:auto;
}
    
h2 { 
text-align: center;
padding-left: 1em;
padding-right: 2em;
font-size: 25px;
}

h3 { 
text-align: center;
padding-left: 2em;
padding-right: 2em;
}

h4 {
text-transform: uppercase;
border-bottom:0;
padding-bottom:0;
background-color:#D2B48C;
font-size: 1.2em; 
padding-left: 3em;
padding-bottom: 0;
} 

dl {
padding-left: 3em;
padding-right: 2em;
padding:1em;
}

ul {
margin-top: auto;
padding-left: 1em;
padding-right: 2em
list-style-type:none; 
  
}

li {
    list-style-type:none;
    font-size:20px;
}
	
p {
text-align:center;
padding-left: 3em;
padding-right: 2em;
color:#283836;
font-weight: bold;
font-family: Verdana, Arial, sans-serif;
font-size: 30px;
}

nav{
padding:2.5em;

}


nav ul li {
   display: inline-block;
   padding: 8px;
   margin: 0 1px;
   
   box-sizing: inherit;
   list-style-type: none;
}

nav a { 
text-decoration: none;
text-align:left;
font-style:bold;
}

nav a: link { color: #000080;}

nav a: visited { color: #D2B48C;}

nav a: hover { color: #00FFFF; border: 3px inset #000080; }

a:link{color:#000080;
    text-decoration: none;
    
}

a:visited {
   text-decoration: none;
   color:#000080;
}

a:hover {
   text-decoration: none;
   color: #D2B48C;
   border: 3px inset #000080;   
}

a:active {
   text-decoration: none;
   color: #000080;
}

/* main content */
article {
   background: none;
   width: 1400px;
   float: center;
   position:relative;
}

article h2 {
   font-size: 1em;
   font-weight: bold;
   text-align: left;
   margin: 0 0 10px 51px;
}

#leftarrow, #rightarrow {
   
   color: white;
   position: absolute;
   z-index: 30;
   text-align: center;
   height: 100px;
   width: 20px;
   top: 60px;
}

article div:hover {
   cursor: default;
}

#leftarrow {
   left: 0;
}

#rightarrow {
   right: 0;
}

#fiveButton {
   display: none;
   width: 100%;
   position: absolute;
   top: 290px;
   color: white;
   text-align: center;
}

#fiveButton p {
   height: 50%;
   margin: 0 auto;
   line-height: 2.5em;
   background: 
}

#leftarrow p {
   position: relative;
   top: 50%;
   margin-top: -1.5em;
    left:-1.8em
}
#rightarrow p{
 position: relative;
   top: 50%;
   margin-top: -1.2em; 
    left:-3.0em;
}

figure {
   position: absolute;
   -webkit-box-shadow: 10px 0px 5px rgb(50, 50, 50),
                       -10px 0px 5px rgb(50, 50, 50);
   -moz-box-shadow:    10px 0px 5px rgb(50, 50, 50),
                       -10px 0px 5px rgb(50, 50, 50);
   box-shadow:         10px 0px 5px rgb(50, 50, 50),
                       -10px 0px 5px rgb(50, 50, 50);
}

#fig2 {
   z-index: 10;
   left: 5%;
   top: 34px;
}

#fig3 {
   z-index: 20;
   left: 50%;
   margin-left: -220px;
   top: 0;
}

#fig4 {
   z-index: 10;
   right: 3%;
   top: 34px;
}


/* container for header and nav */
div.container {
   float: left;
    display:block;

}
/* Add padding to containers */
.container {
  width: 100%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-top: auto;
    margin: 0 auto;
    
}
  
footer {
color:black;
font-size:.75em;
font-style:italic;
text-align:right;
clear: both; }
 footer p {
   text-align: center;
}  
@media only screen and (max-width: 767px)
{
    margin: 0 austo;
    margin-top: 0px;
    margin-right; auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: block;
}
